@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ul {
  list-style-type: none;
}

.contenedor {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  margin: 5rem;
}
.headertodo {
  margin-bottom: 2rem;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  font-size: 35px;
  margin: 0 auto;
  padding-left: 3rem;
}

.navbar-nav {
  align-items: center;
}

.nav-link:hover {
  background-color: rgba(81, 78, 78, 0.5529411765);
  border-radius: 10px;
}
.nav-link .active {
  background-color: rgba(81, 78, 78, 0.5529411765);
  border-radius: 10px;
  color: rgb(233, 230, 230) !important;
}

.quienSoy {
  margin: 1rem;
  font-style: italic;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 2rem;
}
.quienSoy h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 4.5rem;
  -webkit-text-decoration: 4px;
          text-decoration: 4px;
  text-underline-offset: 4px;
}
.quienSoy p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.galeria-inicio {
  display: flex;
  padding-top: 4rem;
}
.galeria-inicio img {
  width: 100px;
  height: 300px;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  transition: 0.5s ease;
}
.galeria-inicio img:hover {
  width: 500px;
  opacity: 1;
  filter: contrast(120%);
  max-width: 65vh;
}

.fondo {
  width: 100%;
}

.header-todoBoda {
  height: 60vh;
  background-color: #878484;
  font-family: Arial, Helvetica, sans-serif;
}

.nuestras-bodas {
  font-family: cursive, sans-serif;
  font-size: 10rem;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  position: absolute;
  -webkit-text-stroke: 2px #616161;
  color: transparent;
  background-image: linear-gradient(#878484, #000);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -450px 0;
  animation: backcolor 4s linear infinite alternate;
}
@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}

.slide img {
  width: auto;
  height: 400px;
}

.h1galeria {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #444242;
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.album {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  padding: 10px;
  grid-gap: 3px;
}

.galeriaAlbum:nth-child(1) {
  grid-column-start: span 2;
}

.galeriaAlbum:nth-child(2) {
  grid-row-start: span 2;
}

.galeriaAlbum:nth-child(3) {
  grid-column-start: span 2;
}

.galeriaAlbum:nth-child(5) {
  grid-column-start: span 2;
}

.galeriaAlbum:nth-child(6) {
  grid-column-start: span 2;
}

.galeriaAlbum:nth-child(9) {
  grid-column-start: span 2;
}

.fotos {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contactame {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #444242;
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.cont {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/img1.jpg");
}
.cont input, .cont textarea {
  padding: 8px;
  font-size: 18px;
  margin: 3rem;
  background-color: rgba(102, 102, 102, 0);
  color: rgb(255, 255, 255);
  border: 1.5px solid #fff;
}
.cont button {
  text-align: end;
  font-family: inherit;
  font-size: 20px;
  background: rgba(43, 46, 56, 0.743);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  margin: 0 0 18rem 3rem;
  align-items: center;
  border: 1.5px solid;
  border-radius: 0px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
.cont button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.cont button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.cont button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.cont button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
.cont button:hover span {
  transform: translateX(5em);
}
.cont button:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

.nombre {
  margin-right: 9.5rem !important;
}

input.nombre {
  border-bottom: 1.5px solid #fff;
}

.nosotros {
  font-family: "Inconsolata", monospace;
  width: 100%;
  text-align: center;
  top: 10rem;
  align-items: center;
  background-color: rgba(154, 140, 152, 0.631372549);
  padding: 3rem;
}

.footer {
  height: 250px;
  display: flex;
  margin: 5rem 0rem 5rem 0rem;
  justify-content: center;
  margin-bottom: 0;
}

.direccion {
  height: 20px;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  position: absolute;
  padding-bottom: 3rem;
}

h4 {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 8rem;
}

.footer-text {
  font-size: 10px;
  text-align: center;
}

.card {
  width: 100%;
  background-color: #878484;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 45px;
  border-radius: 0;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #015c8d;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #25D366;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (min-width: 770px) {
  .album {
    grid-template-columns: repeat(4, 1fr);
  }
  .galeriaAlbum:nth-child(2) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  .galeriaAlbum:nth-child(4) {
    grid-column-start: span 1;
  }
  .galeriaAlbum:nth-child(1) {
    grid-row-start: span 2;
  }
  .galeriaAlbum:nth-child(4) {
    grid-column-start: span 1;
  }
  .galeriaAlbum:nth-child(6) {
    grid-column-start: span 3;
  }
  .galeriaAlbum:nth-child(7) {
    grid-row-start: span 2;
  }
  .galeriaAlbum:nth-child(4) {
    grid-column-start: span 2;
  }
}
@media (min-width: 1030px) {
  .album {
    grid-template-columns: repeat(4, 1fr);
  }
  .galeriaAlbum:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .galeriaAlbum:nth-child(7) {
    grid-row-start: span 2;
  }
  .galeriaAlbum:nth-child(6) {
    grid-row-start: span 2;
  }
  .galeriaAlbum:nth-child(5) {
    grid-column-start: span 3;
    grid-row-start: span 2;
  }
  .galeriaAlbum:nth-child(8) {
    grid-row-start: span 2;
  }
  .galeriaAlbum:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 1;
  }
  .galeriaAlbum:nth-child(1) {
    grid-row-start: span 3;
  }
  .galeriaAlbum:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }
}
@media screen and (max-width: 770px) {
  .Nuestras-bodas {
    font-size: 6rem;
  }
  .galeria-inicio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 1fr);
    grid-template-areas: "" "" "" "" "" "";
    justify-items: center;
  }
  .galeria-inicio img {
    width: 300px;
  }
  .galeria-inicio img:hover {
    width: 90%;
    height: 90%;
  }
}
@media screen and (max-width: 470px) {
  .logo {
    font-size: 25px;
  }
  .navbar-nav {
    height: 10px !important;
  }
}/*# sourceMappingURL=estilos.css.map */