
.quienSoy{
    
    margin: 1rem;
    font-style: italic;
    text-align: center;background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.22) 0%, rgba(0,0,0,0.22) 85%, rgba(0,0,0,0.22) 100%);
    padding: 3rem;

    h3{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 4.5rem;
        text-decoration: 4px;
        text-underline-offset: 4px;
    }
    p{
        font-family: $texto;
        font-size: 1.2rem;
    }
    em{
        text-decoration: rgb(0, 0, 0) underline;
    }
}


.galeria-inicio{
    display: flex;
    padding-top: 4rem;

    & img{
        width: 100px;
        height: 300px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .7;
        transition: .5s ease;

        &:hover{
            width: 500px;
            opacity: 1;
            filter: contrast(120%);
            max-width: 65vh;
        }
    }
}
.fondo{
    width: 100%
}

