.header-todoBoda{
    height: 60vh;
    background-color: $colorFooter;
}


.nuestras-bodas{
    font-family: cursive, sans-serif;
    font-size: 10rem;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    position: absolute;
    -webkit-text-stroke: 2px #616161;
    color: transparent;
    background-image: linear-gradient($colorFooter, #000);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -450px 0;
    animation: backcolor 4s linear infinite alternate;

    @keyframes backcolor {
        100%{
            background-position: 0 0;
        }
    }
}